@charset "utf-8";
@media print{
	.oculto-impresion, .oculto-impresion *{
		display: none !important;
	}
}
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
	/*background-color:#333;*/
	background:#F8F8F8;
	color:#999;
}
/* Para el Paginador */
.tabla{
	display:table;
	width:100%;
}
.encabezado{
  display:table-cell;
  padding:2px;
  /* background:#FFF; */
  color:#999;
  text-align:center;
  font-weight:bold;
  border-top:1px solid #DDD;
  border-bottom:1px solid #DDD;
  font-size:10px;
}
.row2{
  display:table-row;
  background:#ECECEC;
  cursor:pointer;	
}
.row2:hover{
  display:table-row;
  background:#E4E4E4;
  cursor:pointer;	
}
.cells{
  display:table-cell;
  border-bottom:1px solid #DDD;
  color:#000;
  text-align:center;
  padding:3px;
  font-size:10px;
}

.header1{
  padding:2px;
  background:#FFF;
  color:#999;
  text-align:center;
  border-top:1px solid #DDD;
  border-bottom:1px solid #DDD;
  font-size:10px;
}

.tituloIndex{
	background:#CCF;
	color:#66F;
	font-weight:bold;	
	height:100%;
	width:493px;
	padding:3px;
	text-align:center;
}

.contetiqueta{
	background:#CCF;/*FC6*/
	color:#666;	
	height:60%;
	width:98%;
	padding:5px;
	text-align:justify;
	font-weight:normal;
}

.datos1{
  /*background:#D5FEBC;*/
  background:#ECECEC;
  color:#000;
  padding:3px;
  border-bottom:1px solid #DDD;
  font-size:10px;
}
.datos1:hover{
  background:#D5FEBC;
  cursor:pointer;
  color:#333;
}

.link{
	color:#00F;
	text-decoration:none;
}
.link:hover{
	text-decoration:underline;
}

#subirArchivo{
	color:#00F;	
}

#subirArchivo:hover{
	text-decoration:underline;
}

#subirArchivo2{
	color:#00F;	
}

#subirArchivo2:hover{
	text-decoration:underline;
}
#subirArchivo3{
	color:#00F;	
}

#subirArchivo3:hover{
	text-decoration:underline;
}


/* ------ FIN -------*/

/*Para burbujas de mensajes*/

	.Globos{
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		padding:6px 10px 10px 10px;
		position:relative;
		margin:0 0 15px 0;
		/*cursor:pointer;*/
	}
	.Globos span {display:block;font-weight:bold;padding:0 0 4px;}
	.Globos.felicidades {color:#1c8400;border:#b4e8aa solid 1px;background:#e9f9e5;/*url("http://www.vbhispano.com/foros/images/Globos/Felicidades.png") 10px 50% no-repeat;*/ font-weight:normal;}
	.Globos.peligro {color:#828400;border:#e8e3aa solid 1px;background:#f9f9e5; /*url("http://www.vbhispano.com/foros/images/Globos/Peligro.png") 10px 50% no-repeat;*/}
	.Globos.error {color:#b50007;border:#e8aaad solid 1px;background:#f9e5e6; /*url("http://www.vbhispano.com/foros/images/Globos/Error.png") 10px 50% no-repeat;*/}
	.Globos.informacion {color:#0055b5;border:#aac6e8 solid 1px;background:#e5ecf9; /*url("http://www.vbhispano.com/foros/images/Globos/Info.png") 10px 50% no-repeat;*/}
	.Globos.noticia {color:#000000;border:1px solid #fdd845;background:#fff6bf; /*url("http://www.vbhispano.com/foros/images/Globos/Noticias.png") 10px 50% no-repeat;*/}


/*Fin*/

a:link {
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
/*a:visited {
	text-decoration: none;
	color:#999;
}
a:active {
	text-decoration: none;
}*/
.titulosver{
	color:#090;
	padding:4px;
	font-weight:bold;
}
.border{
	border:1px solid #DDD;	
}

.cerrar{
	background-image:url(../imagenes/close.png);
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	border:0;
	cursor:pointer;
	width:38px;
	height:19px;	
}

.cuerpo{
	border.radius: 7px;  
	-moz-border-radius:7px;  
	-webkit-border-radius:7px; 
	border:1px solid #DDD;
	background-color:#FFF;
	padding-top:35px;
	padding-bottom:35px;
	width: 62%;
}
.mensaje{
	padding:15px;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-shadow:#999;
	background:#69F;	
}
.foot{
	border-radius: 7px;  
	-moz-border-radius:7px;  
	-webkit-border-radius:7px; 
	border:1px solid #999;
	background-color:#FFF;
	color:#999;
	height:4px;
	width:850px; 
	padding:30px;
}
.error{
	border:1px solid #DDD;	
	color:#F00;
	padding:25px;
	font-size:16px;
}

.contenido{
	border.radius: 10px;  
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;	
}
.contenidoprincipal{
	width:100%; 
	height:650px;
	overflow:auto;
}

.tit{
	background: #222 url(../imagenes/overlay.png) repeat-x;
	background:#CC0;	
	color:#FFF;
	border:1px solid #999;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-size:13px;
	font-weight:bold;
	text-align:center;
	position:static;
	padding:5px;
	margin:0px;
	width:100%;
	font-family:Tahoma, Geneva, sans-serif;
	display:inline-block;
}

.cajausuario{
	background:url(../imagenes/cajausuario.png) no-repeat;
	float:left;
	width:192px;
	height:361px;
	display:inline-block;
	margin:0;
	padding:50px 0 0 15px;
}

.cajaadministracion{
	background:url(../imagenes/cajaadministracion.png) no-repeat;
	width:192px;
	height:361px;
	display:inline-block;
	margin:0;
	padding:50px 0 0 15px;
}

.boton{
	background: #222 url(../imagenes/overlay.png) repeat-x;
	background:#36C;	
	color:#FFF;
	border:1px solid #33F;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-size:16px;
	text-align:center;
	font-weight:bold;
	position:static;
	padding:0px;
	margin:0px;
	width:60%;
	height:40px;
	font-family:Tahoma, Geneva, sans-serif;
	display:inline-block;	
}
.boton:hover{
	background: #222 url(../imagenes/overlay.png) repeat-x;
	background:#36F;	
	color:#FFF;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor:pointer;
	text-align:center;
	position:static;
	padding:0px;
	margin:0px;
	width:60%;
	height:40px;
	display:inline-block;	
}

.erroracceso{
	border.radius: 7px;  
	-moz-border-radius:7px;  
	-webkit-border-radius:7px; 
	border:1px solid #DDDDDD;
	background-color:#FFF;
	font-size:17px;
	padding: 25px;
	color:#F00;
	width:400px;	
}
.texto_nombre_soft{
	font-family:Georgia, serif;
	font-style:italic;
	font-size:24px;
	font-weight:bold;
	color:#06F;	
}
.titulos{
	font-family:Georgia, serif;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
	color:#06F;	
}
.text_edit {
	border.radius: 5px;  
	-moz-border-radius:5px;  
	-webkit-border-radius:5px; 
	font:Tahoma, Geneva, sans-serif;
	border:1px solid #DDDDDD;
	font-size:14px;
	color:#999;
	margin:0;
	padding:4px;
}
.text_edit:hover{
	border:1px solid #0CF;
}
.text_edit:focus{
	border:1px solid #0CF;	
}
.menu{
	border.radius: 7px;  
	-moz-border-radius:7px;  
	-webkit-border-radius:7px; 
	border:1px solid #DDDDDD;
	/*background:#F8F8F8;*/
	padding:10px;	
}

.headprincipal{
	background:#693;
	margin:0px;
	top:0px;
	height:30px;
	width:100%;
	padding-top:5px;
	padding-left:5px;
}

.footprincipal{
	position:fixed;
	text-align:center;
	left:0px;
	bottom:0px;
	background:#693;
	color:#FFF;
	margin:0px;
	bottom:0px;
	width:100%;
	padding:6px;
	z-index:10000;
}

.sesion{
	border.radius: 7px;  
	-moz-border-radius:7px;  
	-webkit-border-radius:7px; 
	background: #F8F8F8;
	height:217px;
	border:1px solid #DDDDDD;
	padding: 25px;
}
.session:hover{
	background:#0CF;
	border: 1px solid #06F;	
}
.bt{
	background: #222 url(../imagenes/overlay.png) repeat-x;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-style:normal;
	background-color:#06C;
	display: inline-block;
  	padding: 6px 7px 7px;
  	text-decoration: none;
	position:relative;
	cursor:pointer;
	color:#FFF;	
	width:33%;
	height:16%;
	margin:0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border:0px;
}
.btentrar{
	/*background:url(../imagenes/bt.png);*/
	background-image:url(../imagenes/boton.png);
	background-repeat:no-repeat;
	font:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#FFF;
	width:90px;
	height:45px;
	margin:0px;
	border:0px;
	padding:0px;

}

.btentrar:hover{
	background-image:url(../imagenes/botonHover.png);
	background-repeat:no-repeat;
	font:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#FFF;
	width:90px;
	cursor:pointer;	
	height:45px;
	margin:0px;
	border:0px;
	padding:0px;
}
.text_field {
	border.radius: 5px;  
	-moz-border-radius:5px;  
	-webkit-border-radius:5px; 
	font:Tahoma, Geneva, sans-serif;
	border:1px solid #DDDDDD;
	font-size:14px;
	color:#999;
	margin:0;
	padding:5px;
}
.text_field:hover{
	border:1px solid #09F;
}
.text_field:focus{
	border:1px solid #09F;	
}
.img{
	border:1px solid #DDD;
	padding:4px;
	background-color:#CCC;	
}
#sesion{
	background:#693;
	color:#FFF;
}

#sesion td{
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
}
.tituloEncabezado{
	color:#F90;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
}
.tituloEncabezadoHead{
	color:#FFF;
	font-weight:bold;
}
.activosinactivos{
	border.radius: 10px;  
	-moz-border-radius:10px;  
	-webkit-border-radius:10px; 
	border:1px solid #DDD; padding:15px;
	width:120px;	
}
textarea{
	border.radius: 7px;  
	-moz-border-radius:7px;  
	-webkit-border-radius:7px; 
	border:1px solid #DDDDDD;
	overflow:auto;
	padding:4px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#999;
}
textarea:hover{
	border:1px solid #0CF;
}
textarea:focus{
	border:1px solid #0CF;	
}

.fondo{
	background:#FDFDFD;
	border:1px solid #DDDDDD;
	padding:15px;
	margin:0px;
	width:50%;
}
select{
	border.radius:3px;  
	-moz-border-radius:3px;  
	-webkit-border-radius:3px; 
	font:Tahoma, Geneva, sans-serif;
	border:1px solid #DDDDDD;
	font-size:12px;
	/*color:#CCCCCC;*/
	color:#999;
	margin:0;
	padding:3px;
}
.select:hover{
	border:1px solid #0CF;
}
.select:focus{
	border:1px solid #0CF;	
}

@media print{
	.hide-print, .hide-print *{
		display: none !important;
	}
}
