@charset "utf-8";
/* CSS Document */
.post-labels {
  margin: 0;
  padding: 0;
}
.post-labels a {
  float: left;
  position: relative;
  background-color: #0089E0; /* el color de fondo que se nos ocurra */
  /* la altura */
  height: 24px;
  line-height: 24px;
  /* el ancho lo resolvemos con paddings horizontales */
  padding:0 10px 0 12px;
  /* la separación entre etiquetas */
  margin-left:20px;
  /* definiciones del texto */
  color: #FFF;
  font-size:11px;
  font-family: Arial;
  text-decoration: none;
  /* una curva suave a laderecha */
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; 
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; 
  border-top-right-radius: 4px;
}
/* esto creará el triángulo de la izquierda */
.post-labels a:before {
  border-color: transparent #0089E0 transparent transparent;
  border-style: solid;
  /* el borde es igual a la mitad de la altura definida anteriormente */
  /* de ese modo será un triángulo equilátero */
  border-width: 12px 12px 12px 0;  
  content: "";
  float: left;
  left:-12px; /* lo movemos tanto como el valor dado al borde */
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}
/* esto, creará el circulito que precede a los textos */
.post-labels a:after {
  background-color: #FFF; /* el color */
  content: "";
  float: left;
  left: 0;
  position: absolute;
  top: 10px; /* lo ubicamos centrado en al mitad de la altura */
  /* el ancho y la altura son iguales para que sea un círculo */
  height: 4px;
  width: 4px; 
  /* el radio de la curva es la mitad de su tamaño */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* efectos hover */
.post-labels a:hover{
  background-color: #555;
}
.post-labels a:hover:before {
  border-color: transparent #555 transparent transparent;
}


/*tooltips*/
/*div:before{ 
	content:attr(title); 
	display:none; 
}

div:hover{ 
	width:200px; 
	display:block; 
	background:yellow; 
	border:1px solid black; 
	padding:8px; 
	margin:25px 0 0 10px; 
}*/

/*div:hover{ 
	z-index:10; 
	position:relative; 
}
*/

